{% set urls = [
  (addon.get_dev_url(), _('Edit Listing'))
] %}

{% if addon.is_packaged %}
  {% do urls.append((addon.get_dev_url('versions'), _('Status & Versions'))) %}
{% else %}
  {% do urls.append((addon.get_dev_url('versions'), _('Status'))) %}
{% endif %}

{% do urls.append(
  (addon.get_dev_url('ratings'), _('Content Ratings'))
) %}

{% if addon.needs_payment() %}
  {% do urls.append((addon.get_dev_url('payments'),
                     _('Compatibility & Payments'))) %}
  {% if addon.premium_type in mkt.ADDON_INAPPS %}
    {% do urls.insert(4,
      (addon.get_dev_url('in_app_payments'), _('In-App Payments'))
    ) %}
  {% endif %}
{% else %}
  {% do urls.append((addon.get_dev_url('payments'),
                     _('Compatibility'))) %}
{% endif %}

{% do urls.append((addon.get_dev_url('owner'), _('Team Members'))) %}
{% do urls.append((addon.get_url_path(), _('View Listing'))) %}


{% set other_urls = [
  (addon.get_comm_thread_url(), _('Messages')),
  (addon.get_stats_url(), _('Statistics'))
] %}

{% if waffle.switch('view-transactions') %}
  {% do other_urls.append(
    (url('mkt.developers.transactions')|urlparams(app=addon.id), _('Transactions')),
  ) %}
{% endif %}


<section class="secondary manage" role="complementary">
  <div class="island edit-addon-nav">
    <ul class="refinements">
      {% for url, title in urls %}
        <li{% if request.path.startswith(url) %} class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% if other_urls %}
    <div class="island edit-addon-nav">
      <ul class="refinements">
        {% for url, title in other_urls %}
          <li{% if request.path.startswith(url) %} class="selected"{% endif %}>
            <a href="{{ url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>
