{% extends "includes/forms.html" %}

{% macro some_html_tip() %}
  <p class="html-support">
  {# L10n: {0} is a list of HTML tags. #}
  <span class="tooltip" title="{{ _('Allowed HTML: {0}')|f('<a href title> <abbr title> '
                                    '<acronym title> <b> <blockquote> <code> '
                                    '<em> <i> <li> <ol> <strong> <ul>')|e }}">
    {{ _('Some HTML supported.') }}</span>
  </p>
{% endmacro %}

{% macro empty_unless(truthy) %}
  {% if truthy %}
    {{ caller() }}
  {% else %}
    <span class="empty">{{ _('None') }}</span>
  {% endif %}
{% endmacro %}

{% macro flags(text, element, editable, alt_text=False) %}
  {% if editable %}
    <div>
      {{ element }}
      {{ element.errors }}
      <label for="id_{{ element.html_name }}">{{ text }}
    </div>
  {% elif element %}
    {{ text }}
  {% elif alt_text %}
    {# This is what's shown if the element is false #}
    {# Defaults to nothing #}
    {{ alt_text }}
  {% endif %}
{% endmacro %}

{% macro compat(form, is_extra_form=False) %}
  <tr{% if is_extra_form %} class="app-extra-orig{{ ' app-extra' if not form.errors }}"{% endif %}>
    <td class="app {{ form.app.short }}">{{ form.app.pretty }}</td>
    <td class="select">
      <div>
        <label>{{ form.min.label }}</label> {{ form.min }}
        {{ form.non_field_errors() }}
        {{ form.min.errors }}
      </div>
      <div><span class="range">&ndash;</span></div>
      <div>
        <label>{{ form.max.label }}</label> {{ form.max }}
        {{ form.max.errors }}
      </div>
    </td>
    <td class="remove">
      <div>
        <label>{{ form.DELETE.label }} {{ form.DELETE }}</label>
        {{ form.application }}
        {{ form.id }}
        <a href="#" class="remove"
           title="{{ _('Remove this application') }}">x</a>
      </div>
    </td>
  </tr>
{% endmacro %}

{% macro select_cats(max, form, req=False) %}
  <div class="addon-app-cats">
    <label>
      <span class="hint-inline">{{ _('Pick one or two categories.') }}</span>
    </label>
    {{ form.application }}
    <div class="checkbox-choices addon-categories">
      {{ form.categories }}
    </div>
    {{ form.categories.errors }}
  </div>
{% endmacro %}

{% macro select_cats_submission(max, form) %}
  <div class="addon-app-cats">
    <label>
      {{ _('Categories:') }} {{ required() }}
      <span class="hint-inline">{{ _('Pick one or two categories.') }}</span>
    </label>
    {{ form.application }}
    <div class="checkbox-choices addon-categories">
      {{ form.categories }}
    </div>
    {{ form.categories.errors }}
  </div>
{% endmacro %}

{% macro queue_position(addon, tag='p') %}
  {% set position = get_position(addon) %}
  {% if position %}
    {% if position.pos and position.total %}
      <{{ tag }} class="queue-position">
        {% trans pos=position.pos|numberfmt, total=position.total|numberfmt %}
          <b>Queue position:</b> {{ pos }} of {{ total }}
        {% endtrans %}
      </{{ tag }}>
    {% endif %}
    <{{ tag }} class="queue-days">
      {% if position.days > 0 %}
        {% trans cnt=position.days, num=position.days|numberfmt %}
          <b>Estimated waiting time:</b> {{ num }} working day
        {% pluralize %}
          <b>Estimated waiting time:</b> {{ num }} working days
        {% endtrans %}
      {% elif tag == 'p' %}
        {% trans support_url=settings.SUPPORT_GROUP %}
          Most apps are reviewed in about a week. If your review has taken longer than this, you can <a href="{{ support_url }}">contact us</a> to check the status.
        {% endtrans %}
      {% endif %}
    </{{ tag }}>
  {% endif %}
{% endmacro %}

{% macro upload_webapp_features(form) %}
  <p>
    {% trans %}
      Check the boxes of the features that your app requires to function
      properly. Your app will be hidden from users whose devices don't
      support it.
    {% endtrans %}
  </p>
  <a href="#" class="button toggle view-all">{{ _('View all') }}</a>
  <a href="#" class="button toggle hide-all hidden">{{ _('Hide all') }}</a>
  <ul class="feature-choices">
    {% set has_configure_permission =  action_allowed('Apps', 'Configure') %}
    {% for field in form.required_api_fields() %}
      {% set key = field.name|replace('has_', '')|upper %}
      {% set tooltip = form.get_tooltip(field) %}
      {% if mkt.constants.APP_FEATURES[key]['hidden'] and not has_configure_permission %}
        {# Hide special features from regular developers. There is no additional security,
           they can still find out about it in the HTML, but it would be of no use to them. #}
        <li style="display: none">{{ field.as_hidden() }}</li>
      {% else %}
        <li>
          <label for="{{ field.auto_id }}">
            {{ field }}
            <span class="label">{{ field.help_text }}</span>
            <div class="apis">
              {% for api in mkt.constants.APP_FEATURES[key].apis %}
                <code class="api">{{ api }}</code>
              {% endfor %}
            </div>
            {% if tooltip %}<span class="hint">{{ tooltip }}</span>{% endif %}
          </label>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
