{% extends "developers/base_impala.html" %}

{% set title = _('Manage My Submissions') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {% if motd %}
    <div class="featured daily-message island" data-message-type="developer">
      <h2>{{ _('Announcement') }}</h2>
      <p>{{ motd }}</p>
      <a class="close" href="#" title="{{ _('Dismiss this announcement') }}">&times;</a>
      {% if action_allowed('DeveloperMOTD', 'Edit') %}
        <span class="subtle">
          <a href="{{ url('mkt.developers.motd') }}">{{ _('Edit') }}</a>
        </span>
      {% endif %}
    </div>
  {% endif %}

  <header class="hero">
    {#{{ hub_breadcrumbs(items=[(None, _('My Submissions'))]) }}#}
    <h1>{{ title }}</h1>
  </header>
  <section id="dashboard" class="island listing primary full">
    {% if not addons %}
      <h2>{{ _('Welcome to the Developer Dashboard') }}</h2>
      <p>
        {% trans app_url="https://developer.mozilla.org/apps" %}
        You haven't yet submitted an app to the Firefox Marketplace.
        Once you've <a href="{{ app_url }}">created your app</a>,
        click Submit Your App below.
        {% endtrans %}
      </p>
    {% else %}
      {% include "webapps/impala/listing/sorter.html" %}
      <div class="items">
        {{ hub_addon_listing_items(addons.object_list) }}
      </div>
      {{ addons|impala_paginator }}
    {% endif %}
  </section>
{% endblock %}
