{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import queue_position with context %}

{% if webapp.is_packaged %}
  {% set title = _('Status & Versions') %}
{% else %}
  {% set title = _('Status') %}
{% endif %}
{% block title %}{{ hub_page_title(title, webapp) }}{% endblock %}

{% macro status(msg) %}
  <strong class="status {{ mkt_status_class(webapp) }}">{{ msg }}</strong>
{% endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(webapp, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section id="edit-addon" class="primary devhub-form manage">
    <h2>{{ _('Current Status') }}</h2>

    <section>
      <div class="island" id="version-status" data-status="{{ webapp.status }}">
        <div class="status-info">

          {# Show important app status changes regardless of packaged or hosted. #}
          {% if webapp.disabled_by_user and webapp.status != mkt.STATUS_DISABLED %}
            {{ status(_('You have <b>delisted</b> this app.')) }}

          {% elif webapp.status == mkt.STATUS_NULL %}
            {# Links to complete app submission. #}
            {{ status(_('This app is <b>incomplete</b>.')) }}
            {% if next_step %}
              {# L10n: `next_step_name` is a plural noun, the title of the page of the next step of the submission process (e.g. 'Payments' or 'Content Ratings'). #}
              {%- trans next_url=next_step['url'], next_step_name=next_step['name'] %}
                You must set up <a href="{{ next_url }}">{{ next_step_name }}</a> before your app can be reviewed or published.
              {% endtrans %}
            {% endif %}

          {% elif webapp.status == mkt.STATUS_DISABLED %}
            {% if webapp.iarc_purged %}
              {{ status(_('This app has been <b>disabled by Mozilla</b>.')) }}
              {% trans ratings_url=webapp.get_dev_url('ratings') %}
                Your app was disabled because it is missing content ratings. It will
                automatically be re-enabled after
                <a href="{{ ratings_url }}">obtaining content ratings</a>.
              {% endtrans %}
            {% else %}
              {{ status(_('This app has been <b>banned on Marketplace</b>.')) }}
              {% trans support_url=settings.SUPPORT_GROUP %}
                Your app was banned by a site administrator. If you have any
                questions, please <a href="{{ support_url }}"> contact us</a>.
              {% endtrans %}
            {% endif %}

          {% elif webapp.status == mkt.STATUS_BLOCKED %}
            {{ status(_('Your app has been <b>blocked by Mozilla</b>.')) }}
            {% trans support_url=settings.SUPPORT_GROUP %}
              Your app was blocked by a site administrator. If you have any
              questions, please <a href="{{ support_url }}"> contact us</a>.
            {% endtrans %}

          {% elif webapp.status == mkt.STATUS_REJECTED %}
            {{ status(_('This app has been <b>rejected</b> by a Firefox Marketplace reviewer.')) }}

          {% endif %}

          {% if not webapp.disabled_by_user %}

            {# Showing version information for packaged apps in approved statuses. #}
            {% if webapp.is_packaged and webapp.status in mkt.WEBAPPS_APPROVED_STATUSES %}
              {# Display some extra information about the status of the versions. #}
              {% if webapp.current_version %}
                {% set file_status = webapp.current_version.all_files[0].status %}
                <p>
                  {# L10n: {0} is an app version string. {1} is a file status like 'approved'. #}
                  {{ _('Version <b>{0}</b> of your app is <b>{1}</b> and <b>Active</b>')|fe(webapp.current_version.version, mkt.MKT_STATUS_FILE_CHOICES[file_status]) }}.
                </p>
              {% endif %}
              {% if webapp.current_version and webapp.latest_version != webapp.current_version %}
                {% set file_status = webapp.latest_version.all_files[0].status %}
                {# L10n: {0} is an app version string. {1} is a file status like 'approved'. #}
                <p>
                  {# L10n: {0} is an app version string. {1} is a file status like 'approved'. #}
                  {{ _('Version <b>{0}</b> of your app is <b>{1}</b>')|fe(webapp.latest_version.version, mkt.MKT_STATUS_FILE_CHOICES[file_status]) }}.
                </p>
                {% if file_status == mkt.STATUS_PENDING %}{{ queue_position(webapp, 'p') }}{% endif %}
              {% endif %}
            {% endif %}

            {% if webapp.status == mkt.STATUS_PENDING %}
              <p>{{ status(_('This app is <b>pending review</b> by a Firefox Marketplace reviewer.')) }}</p>
              {{ queue_position(webapp, 'p') }}
              <p>{{ _('You will receive an email when the review is complete.') }}</p>

            {% elif webapp.status == mkt.STATUS_PUBLIC and not webapp.is_packaged %}
              <p>
                {{ status(_('This app is <b>published</b>.')) }}
              </p>

            {% elif webapp.status == mkt.STATUS_UNLISTED %}
              {% if not webapp.is_packaged %}
                {{ status(_('Your app has been <b>approved</b> and is currently <b>unlisted</b>.')) }}
              {% endif %}
              <p>
                {% trans app_url=webapp.get_detail_url()|absolutify %}
                  Only those with the following URL can view and install this app:<br>
                  <a href="{{ app_url }}">{{ app_url }}</a>.
                {% endtrans %}
              </p>

            {% elif webapp.status == mkt.STATUS_APPROVED %}
              {% if not webapp.is_packaged %}
                {{ status(_('Your app has been <b>approved</b> and is currently only visible to team members.')) }}
              {% endif %}
              <p>
                {% trans app_url=webapp.get_detail_url()|absolutify %}
                  Only <b>team members</b> with the following URL can view and install this app:<br>
                  <a href="{{ app_url }}">{{ app_url }}</a>.
                {% endtrans %}
              </p>

            {% endif %}

            {% if webapp.status not in mkt.WEBAPPS_APPROVED_STATUSES %}
              <p><a href="https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Review"
                 target="_blank">{{ _('Learn about Review Criteria for apps') }}</a></p>
            {% endif %}

            {# If app is in an approved status, show the app visibility form. #}
            {% if webapp.status in mkt.WEBAPPS_APPROVED_STATUSES %}
              <form method="post">
                {{ form_field(publish_form.publish_type) }}
                {{ form_field(publish_form.limited, cls='field-limited') }}
                {{ publish_form.publish_type.errors }}
                <p>
                  <button type="submit" name="publish-app">{{ _('Update App Visibility') }}</button>
                </p>
                {{ csrf() }}
              </form>
            {% endif %}

            {% if webapp.status == mkt.STATUS_REJECTED %}
              {% if rejection %}
                <div class="island swagger" id="rejection">
                  <h3>
                    {% trans reviewer=rejection.user.name %}
                      Reviewed by <b>{{ reviewer }}</b>
                    {% endtrans %}
                    <time datetime="{{ rejection.created|isotime }}"
                          title="{{ rejection.created|babel_datetime }}">
                      ({{ rejection.created|timesince }})</time>
                  </h3>
                  <blockquote>
                    {{ rejection.details.comments }}
                  </blockquote>
                </div>
                <p>
                  {% if webapp.is_packaged %}
                    {% trans resubmit_url='#upload-new-version' %}
                      Once you have addressed these concerns, you may <a href="{{ resubmit_url }}">resubmit your
                      app below</a>.
                    {% endtrans %}
                  {% else %}
                    {% trans %}
                      Once you have addressed these concerns, you may resubmit your
                      app below.
                    {% endtrans %}
                  {% endif %}
                </p>
              {% endif %}
              {% if not webapp.is_packaged and webapp.is_rated() %}
                <form method="post">
                  {{ csrf() }}
                  {{ form_field(appeal_form.notes, opt=True) }}
                  <p><button type="submit" name="resubmit-app">{{ _('Resubmit App') }}</button></p>
                </form>
              {% elif not webapp.is_rated() %}
                {% trans ratings_url=webapp.get_dev_url('ratings') %}
                  You must <a href="{{ ratings_url }}">obtain content ratings</a>
                  before resubmitting your app.
                {% endtrans %}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </section>

    {% if webapp.is_packaged %}
      {% set versions = webapp.versions.all() %}
      {% if versions %}
        <h2>{{ _('Packaged Versions') }}</h2>

        <section>
          <div class="island c">
            <table id="version-list">
              <thead>
                <tr>
                  <th></th>
                  <th>{{ _('Status') }} </th>
                  <th class="date">{{ _('Submission date') }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for version in versions %}
                  <tr{% if version == webapp.current_version %} class="current"{% endif %}>
                    <td><h4><a href="{{ webapp.get_dev_url('versions.edit', [version.pk]) }}">{{ version.version }}</a></h4></td>
                    <td>
                      {% if webapp.disabled_by_user %}
                        <span class="{{ mkt_file_status_class(webapp, version) }}"><b>{{ _('Disabled') }}</b></span>
                      {% else %}
                        <span class="{{ mkt_file_status_class(webapp, version) }}">
                          {% if version == webapp.current_version %}
                            <b>{{ version.status|join(', ') }} | Active</b>
                          {% else %}
                            <b>{{ version.status|join(', ') }}</b>
                          {% endif %}
                        </span>
                      {% endif %}
                    </td>
                    <td class="date" title="{{ version.created|isotime }}">{{ version.created|babel_date('long') }}</td>
                    <td>
                      {% if version.all_files[0].status != mkt.STATUS_BLOCKED %}
                        <div class="buttons">
                          <a href="{{ version.all_files[0].get_url_path('') }}" class="download">{{ _('Download') }}</a>
                          {% if version.all_files[0].status == mkt.STATUS_APPROVED %}
                            <form method="post" action="{{ webapp.get_dev_url('versions.publicise') }}">
                              {{ csrf() }}
                              <input type="hidden" name="version_id" value="{{ version.id }}">
                              <button type="submit">{{ _('Make Active') }}</button>
                            </form>
                          {% endif %}
                          <a href="#" class="button bad delete-button delete-version" data-version="{{ version.id }}">{{ _('Delete') }}</a>
                        </div>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      {% endif %}

      <h2 id="upload-new-version">{{ _('Upload New Version') }}</h2>
      <section>
        <div class="island">
          <form method="post" id="upload-webapp" class="item">
            <p>
              {% trans %}
                Upload a new version of this packaged app. New versions must be
                reviewed before they will be available for installation.
              {% endtrans %}
            </p>
            <p>
              {% trans ratings_url=webapp.get_dev_url('ratings') %}
                Remember to update the app's <a href="{{ ratings_url }}">content ratings</a>
                if a large portion of the app's content has changed.
              {% endtrans %}
            </p>
            <div id="upload-file">
              <div class="hidden">{{ upload_form.upload }}</div>
              <input type="file" id="upload-app" data-upload-url="{{ url('mkt.developers.upload_for_webapp', webapp.app_slug) }}">
              {% if upload_form.non_field_errors() or upload_form.upload.errors %}
                <div class="post-validation-errors">
                  {{ upload_form.non_field_errors() }}
                  {{ upload_form.upload.errors }}
                </div>
              {% endif %}
              <div class="submission-buttons addon-submission-field">
                <button class="prominent upload-file-submit" disabled id="submit-upload-file-finish" type="submit" name="upload-version">
                  {{ _('Continue') }}
                </button>
              </div>
            </div>
            {{ csrf() }}
          </form>
        </div>
      </section>
    {% endif %}

    <section>
      <h2 id="low-memory-devices">{{ _("Low-Memory Devices") }}</h2>
      <div class="island">
        <p>
          <strong>
            {% if is_tarako %}
              {{ _("Your app is shown on low-memory devices.") }}
            {% else %}
              {{ _("Your app is not shown on low-memory devices.") }}
            {% endif %}
          </strong>
        </p>

        {% if not tarako_review %}
          <p>{{ _("You have not requested a low-memory review.") }}</p>
        {% else %}
          <p>
            {% if tarako_review.pending %}
              {{ _("Your app is awaiting review.") }}
            {% elif tarako_review.passed %}
              {{ _("Our review on {review_date} found that your app supports low-memory devices.")
                 |fe(review_date=tarako_review.review_completed|babel_datetime) }}
            {% elif tarako_review.failed %}
              {{ _("Our review on {review_date} found that your app does not support low-memory devices.")
                 |fe(review_date=tarako_review.review_completed|babel_datetime) }}
            {% endif %}
            {{ _("You requested a review on {request_date}.")
               |fe(request_date=tarako_review.created|babel_datetime) }}
          </p>
        {% endif %}

        {% if not has_tarako_region(webapp) %}
          <p>
            {{ _('Your app is not enabled in any regions with low-memory devices.') }}
            {{ _('You can update your regions on the <a href="{compatibility_page}">compatibility page</a>.')
               |fe(compatibility_page=url('mkt.developers.apps.payments', webapp.app_slug) + '#regions-and-listings') }}
        {% endif %}

        {% set can_request_review = not (tarako_review and tarako_review.pending) %}
        <p>
          {% if can_request_review %}
            {{ _('If your app works on low-memory devices then you can request a review to be shown on low-memory devices.') }}
          {% endif %}
          <a href="https://developer.mozilla.org/Apps/Build/Performance/Apps_for_low-memory_Firefox_OS_devices" target="_blank">
            {{ _("Learn about low-memory devices.") }}
          </a>
        </p>
        {% if is_tarako %}
          <div class="listing-footer">
            <button id="remove-tarako">
              {{ _("Do not show my app on low-memory devices") }}
            </button>
          </div>
        {% elif can_request_review %}
          <div class="listing-footer">
            <form id="request-tarako" action="{{ url('additionalreviews') }}" method="post">
              <input type="hidden" name="app" value="{{ webapp.pk }}">
              <input type="hidden" name="queue" value="{{ QUEUE_TARAKO }}">
              <span class="error"></span>
              <button class="only-child">
                {{ _("Request a low-memory review") }}
              </button>
            </form>
          </div>
        {% endif %}
    </section>

    {% if waffle.switch('preload-apps') %}
      <section id="preload">
        <h2>{{ _('Pre-Installed App Status') }}</h2>
        <a class="help" href="{{ webapp.get_dev_url('preload_home') }}"></a>

        <div class="version island c">
          <p>
            {% if test_plan %}
              {% trans last_submission=test_plan.last_submission|datetime %}
                <strong class="submitted">Application Submitted</strong> on {{ last_submission }}
              {% endtrans %}
            {% else %}
              <strong class="not-submitted">{{ _('Not Submitted') }}</strong>
            {% endif %}

            {% if outdated_test_plan %}
              <span class="outdated">{{ _('New version of the test plan available') }}</span>
            {% endif %}
          </p>
          {% if test_plan %}
            <p><a class="test-plan-download" href="{{ test_plan.preload_test_plan_url }}" download>
              {{ _('View your most recently submitted test plan') }}</a></p>
          {% endif %}
          <p class="listing-footer">
            {% if test_plan %}
              {%- trans lnk_url=webapp.get_dev_url('preload_' + next_step_suffix) %}
                <a href="{{ lnk_url }}">Update your test plan</a>
              {% endtrans -%}
            {% else %}
              {%- trans lnk_url=webapp.get_dev_url('preload_' + next_step_suffix) %}
                <a href="{{ lnk_url }}">Learn how</a> to get your app pre-installed on Firefox OS devices
              {% endtrans -%}
            {% endif %}
         </p>
        </div>
      </section>
    {% endif %}

    {% if check_webapp_ownership(request, webapp, dev=True) %}
      {% set is_disabled = webapp.disabled_by_user and webapp.status != mkt.STATUS_DISABLED %}
      <section>
        <h2>{{ _('List App') if is_disabled else _('Delist App') }}</h2>
        <div class="island c">
          <p>
            {% if is_disabled %}
              {% trans %}
                Your app's listing is disabled and will not appear in the Firefox
                Marketplace. You may re-list it at any time.
              {% endtrans %}
            {% else %}
              {% trans %}
                Delisting your app will prevent it from appearing anywhere in the
                Marketplace.
              {% endtrans %}
            {% endif %}
          </p>
          <p class="listing-footer">
            {% if is_disabled %}
              <a href="{{ webapp.get_dev_url('enable') }}" class="button" id="enable-addon">
                {{ _('List App') }}</a>
            {% elif not webapp.is_disabled %}
              <a href="#" class="button" id="disable-addon">
                {{ _('Delist App') }}</a>
            {% endif %}
          </p>
        </div>
      </section>
    {% endif %}

    {% if check_webapp_ownership(request, webapp) and webapp.can_be_deleted() %}
      <h2>{{ _('Delete App') }}</h2>

      <section>
        <div class="island c">
          <p>
            {% trans %}
            Deleting your app will permanently delete it from the site. <strong>There is no going back.</strong>
            {% endtrans %}
          </p>
          <p class="listing-footer">
            <a href="#" class="button bad delete-button" id="delete-addon">
              {{ _('Delete App') }}</a>
          </p>
        </div>
      </section>
    {% endif %}

    {% if webapp.is_packaged and webapp.status == mkt.STATUS_PUBLIC and action_allowed('Apps', 'Configure') %}
      <h2>{{ _('Blocklist App') }}</h2>

      <section>
        <div class="island">
          <form method="post" id="blocklist-app" action="{{ webapp.get_dev_url('blocklist') }}">
            <p>
            {% trans %}
              Blocklisting an app will upgrade the users to a special version
              which will make the app unusable on their Firefox OS devices.
              This will also remove this app from public pages until a new
              version is submitted and approved. These changes cannot be
              undone. Please proceed with caution.
            {% endtrans %}
            </p>
            {{ csrf() }}
            <input type="submit" value="{{ _('Blocklist') }}">
          </form>
        </div>
      </section>
    {% endif %}

  </section>

  <div id="modals">
    {% if webapp.can_be_deleted() %}
      <div id="modal-delete" class="modal modal-delete">
        {% include "developers/apps/listing/delete_form.html" %}
      </div>
    {% endif %}

    {% if not webapp.disabled_by_user and not webapp.is_disabled %}
      <div id="modal-disable" class="modal">
        <form method="post" action="{{ webapp.get_dev_url('disable') }}">
          {{ csrf() }}
          <h3>{{ _('Delist App') }}</h3>
          <p>
            <label>{{ _('Are you sure you wish to delist your app?') }}</label>
          </p>
          <p class="listing-footer">
            <button type="submit">{{ _('Delist App') }}</button>
            {{ _('or') }} <a href="#" class="cancel close">{{ _('Cancel') }}</a>
          </p>
        </form>
      </div>
    {% endif %}

    {% if webapp.is_packaged %}
      <div id="modal-delete-version" class="modal modal-delete" data-versions="{{ version_strings }}">
        <form method="post" action="{{ webapp.get_dev_url('versions.delete') }}">
          {{ csrf() }}
          <h3 data-tmpl="{{ _('Delete Version &quot;{version}&quot;') }}"></h3>
          <p id="last-version" class="hidden">{{ _('Deleting the only version will result in the following:') }}</p>
          <ul class="indent">
            <li id="last-version-other" class="hidden">{{ _('the app status will be marked as &quot;incomplete&quot;') }}</li>
            <li id="last-version-pending" class="hidden">{{ _('the app will be removed from our review queue') }}</li>
            <li id="last-version-public" class="hidden">{{ _('the app will not be listed in our public pages') }}</li>
          </ul>
          <p>{{ _('These changes cannot be undone.') }}</p>
          <p class="call-to-action">{{ _('Are you sure you wish to delete this version?') }}</label></p>
          <input type="hidden" name="version_id" class="version-id">
          <p class="listing-footer">
            <button type="submit">{{ _('Delete Version') }}</button>
            {{ _('or') }} <a href="#" class="cancel close">{{ _('Cancel') }}</a>
          </p>
        </form>
      </div>
    {% endif %}

    {% if is_tarako %}
      <div id="modal-remove-tarako" class="modal">
        <h3>{{ _('Low-Memory Devices') }}</h3>
        <p>
          <label>{{ _('Are you sure you want to stop showing your app on low-memory devices?') }}</label>
        </p>
        <p class="error"></p>
        <p class="listing-footer">
          <button id="remove-tarako-tag" class="bad" data-action="{{ url('app-tags-detail', webapp.app_slug, QUEUE_TARAKO) }}">
            {{ _("Do not show my app on low-memory devices") }}
          </button>
          {{ _('or') }}
          <a href="#" class="cancel close">{{ _('Cancel') }}</a>
        </p>
      </div>
    {% endif %}
  </div>

  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
