{% from "addons/macros.html" import sort_vital %}
{% cache addons %}
  {% for addon in addons %}
    <div class="item addon">
      <div class="info">
        <h3>
          {% set dl_url = addon.get_url_path() %}
          {% if dl_src %}
            {% set dl_url = dl_url|urlparams(src=dl_src) %}
          {% endif %}
          <a href="{{ dl_url }}">
            <img src="{{ addon.icon_url }}">{{ addon.name }}</a>
          {% if addon.is_featured(request.APP, request.LANG) %}
            <span class="featured">{{ _('Featured') }}</span>
          {% endif %}
        </h3>
        <div class="vitals c">
          {{ sort_vital(addon, field) }}
        </div>
      </div>
      <div class="action">
        {{ install_button(addon, impala=True, collection=collection) }}
      </div>
    </div>
  {% else %}
    {% include 'search/no_results.html' %}
  {% endfor %}
{% endcache %}
