{% from 'developers/apps/listing/macros.html' import dev_heading %}
{% from 'developers/includes/macros.html' import queue_position with context %}
{% from 'detail/includes/price.html' import price %}

{% for webapp in webapps %}
  <div class="item addon" data-addonid="{{ webapp.id }}">
    <div class="info">
      {{ dev_heading(webapp, mkt) }}

      {% if webapp.has_incomplete_status() %}
        {% set next_step = webapp.next_step() %}
        <p class="incomplete">{{ next_step['description'] }}</p>
      {% else %}
        <ul class="item-details">
          {# L10n: {0} is a date. #}
          <li class="date-created">
            <strong>{{ _('Created:') }}</strong>
            {{ webapp.created|datetime }}
          </li>
          <li class="version-status-item">
            <strong>{{ _('Status:') }}</strong>
            <a href="{{ webapp.get_dev_url('versions') }}">
              {% if webapp.disabled_by_user %}
                <span class="{{ mkt_status_class(webapp) }}"><b>{{ _('Disabled') }}</b></span>
              {% else %}
                <span class="{{ mkt_status_class(webapp) }}">
                  <b>{{ mkt.STATUS_CHOICES[webapp.status] }}</b></span>
              {% endif %}
            </a>
          </li>
          {% if webapp.is_packaged %}
            <li class="item-current-version">
              <strong>{{ _('Packaged App Version:') }}</strong>
              {{ webapp.current_version }}
            </li>
            {% if webapp.is_pending() or webapp.current_version != webapp.latest_version %}
              <li class="item-latest-version">
                <strong>{{ _('Pending Version:') }}</strong>
                {{ webapp.latest_version }}
              </li>
            {% endif %}
          {% endif %}
          {% if webapp.is_pending() or webapp.current_version != webapp.latest_version %}
            {{ queue_position(webapp, 'li') }}
          {% endif %}
          <li class="payments">
            <strong>{{ _('Price:') }}</strong>
            {{ price(request, webapp) }}
            {% if webapp.is_premium() and not webapp.has_payment_account() %}
              <a href="{{ webapp.get_dev_url('payments') }}">{{ _('Set up Payment Account') }}</a>
            {% endif %}
          </li>
          <li class="item-devices">
            {{ device_list(webapp) }}
            <a href="{{ webapp.get_dev_url('payments') }}#edit-app-basic">{{ _('Change Devices') }}</a>
          </li>

          {% if not webapp.is_rated() and webapp.is_public() or webapp.is_approved() %}
            <li class="ratings">
              {% trans rating_url=webapp.get_dev_url('ratings') %}
                <a href="{{ rating_url }}">Set up Content Ratings</a>
              {% endtrans %}
            </li>
          {% endif %}
      {% endif %}
      <div class="item-actions">
        {% include "developers/apps/listing/item_actions_app.html" %}
      </div>
    </div>
  </div>
{% endfor %}
