{% extends 'developers/base_impala.html' %}

{% set title = _('Content Ratings') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, _('Content Ratings') )]) }}
    <h1>{{ title }}</h1>
  </header>

  <section id="ratings-summary" class="primary manage">
    <h2>
      {{ _('Summary') }}
      <a href="{{ addon.get_dev_url('ratings_edit') }}" class="button edit">
        {{ _('Edit') }}</a>
    </h2>

    <div class="island">
      <h3>{{ _('Content Ratings') }}</h3>
      <table class="ratings-summary data-grid">
        <thead>
          <th>{{ _('Rating System') }}</th>
          <th>{{ _('Region') }}</th>
          <th>{{ _('Rating Category') }}</th>
          <th>{{ _('Descriptors') }}</th>
        </thead>
        <tbody>
          {% for cr in ratings %}
            {% set body = cr.get_body() %}
            {% set rating = cr.get_rating() %}
            <tr>
              <td class="name">{{ body.name }}</td>
              <td class="regions">{{ body.description or '&mdash;'|safe }}</td>
              <td class="content-rating">
                {% include "developers/includes/content_rating_icon.html" %}</td>
              <td class="content-descriptors">
                {% for descriptor in addon.rating_descriptors.to_keys_by_body(body.label) %}
                  <span class="dot-sep descriptor">
                    {{ mkt.iarc_mappings.HUMAN_READABLE_DESCS_AND_INTERACTIVES[descriptor] }}
                  </span>
                {% else %}
                  &mdash;
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% set interactives = addon.rating_interactives.to_keys() %}
      {% if interactives %}
        <h3>{{ _('Interactive Elements') }}</h3>
        <div class="interactive-elements c">
          <div class="names">
            {% for interactive in interactives %}
              <span class="dot-sep interactive">
                {{ mkt.iarc_mappings.HUMAN_READABLE_DESCS_AND_INTERACTIVES[interactive] }}
              </span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>

  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
