{% extends 'base.html' %}

{% block title %}{{ _('Lookup Tool') }}{% endblock %}

{% block bodyclass %}account-lookup{% endblock %}

{% block bodyattrs %}
  {% if website %}data-default-locale="{{ website.default_locale|lower }}"{% endif %}
{% endblock %}

{% block masthead %}
<h1 id="masthead" class="site-title prominent">
  <a href="{{ url('lookup.home') }}">
    {% trans %}
      <small>Marketplace</small> Lookup Tool
    {% endtrans %}
  </a>
</h1>
{% endblock %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
  {{ css('mkt/lookup') }}
{% endblock %}

{% block site_header_title %}
{% endblock %}

{% block js %}
  <span class="hidden lookup-meta"
        data-search-limit="{{ mkt.constants.lookup.SEARCH_LIMIT }}"
        data-max-results="{{ mkt.constants.lookup.MAX_RESULTS }}"></span>
  {{ js('mkt/lookup') }}
{% endblock %}

{# Hiding these for the Marketplace Editor Tools until consumer pages are done. #}
{% block header_search %}{% endblock %}
{% block footer %}{% endblock %}
