<tr class="in-app-product-row inline-editing">
  <td>
    <img src="{{ product.icon_url }}" width="64" height="64" class="in-app-product-logo-url">
    <div class="field-error error"></div>
  </td>
  <td class="in-app-product-name">
    <span class="inline-view">{{ product.name }}</span>
    <div class="in-app-product-error error"></div>
    <input type="text" class="inline-edit" value="{{ product.name }}">
    <div class="field-error error"></div>
  </td>
  <td class="in-app-product-price">
    {% with widget=form.fields['price'].widget %}
      {# `price` will blow up if `price_id` is None. #}
      <span class="inline-view">{{ product.price_id and product.price }}</span>
      {{ widget.render('price_id', product.price_id, attrs={'class': 'inline-edit'}) }}
    {% endwith %}
    <div class="field-error error"></div>
  </td>
  <td class="in-app-product-guid">
    <div class="guid">{{ product.guid }}</div>
  </td>
  <td class="in-app-product-active">
    <span class="inline-view"></span>
    <label>
      <input type="checkbox" class="inline-edit" {% if product.active %} checked{% endif %}>
      <span class="inline-edit">{{ _('Enable') }}</span>
    </label>
  </td>
  <td>
    <button class="in-app-product-edit button inline-view">{{ _('Edit') }}</button>
    <button class="in-app-product-save button good inline-edit">{{ _('Save') }}</button>
  </td>
</tr>
