{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import required %}

{% set title = _('In-App Products') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block css_extra %}
    {{ css('mkt/in-app-products') }}
{% endblock %}

{% block js %}
    {{ js('mkt/in-app-products') }}
{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>

  <section class="primary manage" role="main">
    <div id="in-app-products" class="devhub-form island" data-list-url="{{ url('in-app-products-list', app_slug=addon.app_slug) }}" data-detail-url-format="{{ url('in-app-products-detail', app_slug=addon.app_slug, pk="{id}") }}">
      <table>
        <thead>
          <tr>
            <th>{{ _('Icon') }}</th>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Price Point') }}</th>
            <th>{{ _('Product ID') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            {% include "developers/payments/in-app-product-row.html" %}
          {% endfor %}
        </tbody>
      </table>
      <button id="add-in-app-product">{{ _('+ Add a product') }}</button>
    </div>
    <script id="in-app-product-row-template" type="x-template">
      {% with product=new_product %}
        {% include "developers/payments/in-app-product-row.html" %}
      {% endwith %}
    </script>
  </section>

  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
