{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import required %}

{% set title = _('In-App Payments') %}
{% block title %}{{ hub_page_title(title, webapp) }}{% endblock %}

{% set can_edit = check_webapp_ownership(request, webapp) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(webapp, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>

  <section class="primary manage" role="main">
    <h2>{{ _('In-App Payments') }}</h2>
    {% if waffle.switch('in-app-products') %}
      <div id="in-app-products" class="island">
        <h3>{{ _('In-App Products') }} <em>({{ _('Recommended') }})</em></h3>
        <p>
          <a target="_blank" href="https://developer.mozilla.org/Marketplace/Monetization/In-app_payments_section/fxPay_iap">
            {{ _('Documentation') }}
          </a>
        </p>
        <p>
          {% trans %}
            In-App Products allow you to take payments in your application and simplifies the process by allowing you to create and manage your products in the Firefox Marketplace Developer Hub.
          {% endtrans %}
        </p>
        <p class="listing-footer">
          <a href="{{ webapp.get_dev_url('in_app_products') }}"><button>{{ _('Configure In-App Products') }}</button></a>
        </p>
      </div>
    {% endif %}

    <div id="in-app-keys" class="island">
      <h3>{{ _('In-App Keys') }}</h3>
      <p>
        <a target="_blank" href="https://developer.mozilla.org/Marketplace/Monetization/In-app_payments_section/mozPay_iap">
          {{ _('Documentation') }}
        </a>
      </p>
      <p>
        {% trans %}
          In-App Payments Keys allow you to take payments in your application for any arbitrary price point. You are responsible for the definition and management of products.
        {% endtrans %}
      </p>
      <p>
        <em>
        {% trans %}
        Note: If you're wanting to provide in-app products to Firefox for Desktop users then please use in-app products.
        {% endtrans %}
        </em>
      </p>

      <p class="listing-footer">
        <a href="{{ webapp.get_dev_url('in_app_config') }}"><button>{{ _('Configure In-App Keys') }}</button></a>
      </p>
    </div>
  </section>

  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
