{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import required %}

{% set title = _('In-App Products') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block css_extra %}
    {{ css('mkt/in-app-products') }}
{% endblock %}

{% block js %}
    {{ js('mkt/in-app-products') }}
{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>

  <section class="primary manage" role="main">
    {% if not addon.is_packaged %}
      <div class="island notification-box">
        {% trans origin='https://developer.mozilla.org/en-US/Apps/Build/Manifest#origin' %}
          Your app must be packaged and specify an <a href="{{ origin }}">origin</a> to use this in-app payment system.
        {% endtrans %}
      </div>
    {% elif not addon.origin %}
      <div class="island notification-box">
        {% trans origin='https://developer.mozilla.org/en-US/Apps/Build/Manifest#origin' %}
          Your app must define an <a href="{{ origin }}">origin</a> in your manifest so that receipts can be verified properly.
        {% endtrans %}
      </div>
    {% else %}
      <div id="in-app-products" class="devhub-form island" data-list-url="{{ url('in-app-products-list', origin=addon.origin) }}"
           data-detail-url-format="{{ url('in-app-products-detail', origin=addon.origin, pk="{id}") }}">
        <table id="version-list">
          <thead>
            <tr>
              <th>{{ _('Icon') }}</th>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Price Point') }}</th>
              <th>{{ _('Product ID') }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              {% include "developers/payments/in-app-product-row.html" %}
            {% endfor %}
          </tbody>
        </table>
        <p class="listing-footer">
          <button id="add-in-app-product">{{ _('Add a product') }}</button>
        </p>
      </div>
      <script id="in-app-product-row-template" type="x-template">
        {% with product=new_product %}
          {% include "developers/payments/in-app-product-row.html" %}
        {% endwith %}
      </script>
    {% endif %}
  </section>

  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
