{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import empty_unless, required, some_html_tip, tip %}

{% set title = _('Compatibility') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments devhub-form" role="main">
    <form action="{{ addon.get_dev_url('payments') }}" method="post">
      {{ csrf() }}
      <input type="hidden" name="toggle-paid" value="" />
      <div class="hidden">
        <select multiple="multiple" id="id_free_platforms" name="free_platforms">
          <option value="free-firefoxos">Firefox OS</option>
        </select>
      </div>
      {% if not can_edit %}
        <div class="notification-box">
          <p>{{ _('Only the app owner(s) can edit this page.') }}</p>
        </div>
      {% endif %}
      {% if is_paid or not is_fxos %}
      <section id="submit-payment-type">
        <h2>{{ _('App Compatibility') }}</h2>
        <div class="island hasappendix tabbable">
          <div class="free tab active">
            {% if is_paid %}
            <div id="free-tab-save" class="update-payment-type">
                <p>Support for paid apps has been discontinued.
                  You may change your app to "free" to make it publicly
                  available again.</p>
                <button data-type="free">{{ _('Change to Free') }}</button>
              </div>
            {% else %}
              <div class="wrapper">
                <a
                 {{ {'href': '#',
                     'id': 'free-firefoxos',
                     'class': 'island choice',
                     'data-value': 'free-firefoxos',
                     'title': PLATFORMS_NAMES['free-firefoxos'],
                    }|xmlattr }}>
                  <h3>Firefox OS</h3>
                  <div class="listing-footer">
                    <input type="checkbox">
                  </div>
                </a>
              </div>
              <div id="compat-save-button" class="hidden update-payment-type">
                <button>{{ _('Save Changes') }}</button>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
      {% endif %}


      {# Non-paid app region lists #}
      <h2 id="regions-and-listings">{{ _('Regions and Listings') }}</h2>

      <div id="regions-island">
        <section id="regions" class="island">
          {% include 'developers/payments/includes/regions_toggle.html' %}
          {% include 'developers/payments/includes/region_form.html' %}
          <div class="listing-footer">
            <button class="button">{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
    </form>
  </section>

  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
