<div id="abuse-reports">
  <form method="post" class="item">
    {% if queue_counts[tab] != 0 %}
      <div class="reports-process reviewers-desktop">
        <button type="submit">{{ _('Process') }}</button>
      </div>
    {% endif %}
    {{ csrf() }}
    {{ abuse_formset.management_form }}
    {% for item in abuse_formset.forms %}
      <div class="abuse-reports-items">
        <div class="abuse-report-actions reviewers-desktop">
          {{ item.errors }}
          <strong>{{ _('Actions:') }}</strong>
          {{ item.id }}
          {{ item.action }}
        </div>
        <h3>
            <a href="{{ item.instance.get_url_path() }}">{{ item.instance.name }}</a>
        </h3>
        [
        {% if item.instance.app_slug %}
          <a href="{{ url('reviewers.apps.review', item.instance.app_slug) }}">{{ _('Review page') }}</a> |
        {% endif %}
        {% trans abuses_url=url('reviewers.apps.review.abuse', item.instance.app_slug) if item.instance.app_slug else url('reviewers.websites.review.abuse', item.instance.pk),
                 abuses_count=item.instance.abuse_reports.count()|numberfmt %}
          <a href="{{ abuses_url }}">All abuse reports ({{ abuses_count }})</a>]
        {% endtrans %}
        <ul class="abuse-reports-reports">
          {% for abuse_report in item.instance.abuse_reports.filter(read=False) %}
            <li>
              <div>
                <p>
                  {% trans user=abuse_report.reporter.email|default('an anonymous user'),
                     date=abuse_report.created|datetime,
                     ip_address=abuse_report.ip_address %}
                  <span class="submitted-by">Submitted by {{ user }} on {{ date }} [{{ ip_address }}]</span>
                  {% endtrans %}
                  {% if waffle.switch('reviews-translate') %}
                    {% trans translate_url=url('reviewers.apps.abuse_report_translate',
                                             item.instance.app_slug, abuse_report.id, LANG) if item.instance.app_slug else url('reviewers.websites.abuse_report_translate',
                                             item.instance.pk, abuse_report.id, LANG)
                    %}
                  - <a class="translate reviewers-desktop" rel="nofollow" target="_blank" href="{{ translate_url }}">translate</a>
                    {% endtrans %}
                  {% endif %}
                </p>
                <p class="description">{{ abuse_report.message|nl2br }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="abuse-report-actions reviewers-mobile hidden">
          {{ item.errors }}
          <strong>{{ _('Actions:') }}</strong>
          {{ item.id }}
          {{ item.action }}
        </div>
      </div>
    {% endfor %}
    {% if queue_counts[tab] == 0 %}
      <div class="no-results">{{ _('All abuse reports read. Good work!') }}</div>
    {% else %}
      <div class="reports-process abuse-reports">
        <button type="submit">{{ _('Process') }}</button>
      </div>
    {% endif %}
  </form>
</div>
