settings_local.py*
settings_local_*.py
shellng_local.py
*.py[co]
*.sw[lmnop]
.coverage
pip-log.txt
docs/_build
docs/_gh-pages
docs/api/_build
dreadnot-stage.ini
build*.py
media/build_id.txt
media/manifest.appcache
media/external/*
.DS_Store
/media/img/uploads
*.js.tmp
*.css.tmp
*-min.css
*-all.css
*-min.js
*-all.js
*.less.css
*.styl.css
.nose*
tmp/*
tags
!/mkt/tags
tagz.py
node_modules
commonplace_projects
media/fireplace
media/rocketfuel
media/commbadge
media/marketplace-stats
media/transonic
*.signed.zip
*.po~
logs/*
supervisord.pid
