<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
                                   initial-scale=1, maximum-scale=1">
    <title>Firefox Web Apps</title>
    <link rel="stylesheet" href="{{ media(repo + '/css/include.css') }}">
  </head>

  <body class="home" contextmenu="contextmenu" data-media="{{ MEDIA_URL }}" data-repo="{{ repo }}">
    <noscript><p>Sorry, you need JavaScript to use this site.</p></noscript>

    <main>
      <div id="page" class="page" role="main"></div>
    </main>

    <script type="text/javascript" src="{{ media(repo + '/js/include.js') }}" defer></script>
  </body>
</html>
