<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
                                   initial-scale=1, maximum-scale=1">
    <title>Firefox Marketplace</title>

    {% include "commonplace/includes/open_graph.html" %}

    <meta name="theme-color" content="#fff">
    <link rel="icon" href="{{ media('fireplace/img/logos/128.png') }}"
          sizes="128x128">
    <link rel="icon" href="{{ media('fireplace/img/logos/64.png') }}"
          sizes="64x64">
    <link rel="icon" href="{{ media('fireplace/img/logos/32.png') }}"
          sizes="32x32">

    <link rel="stylesheet" href="{{ media(repo + '/css/bundle.css') }}">

    <link title="Firefox Apps"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('opensearch') }}">

    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
  </head>
  <body data-build-id-js="{{ BUILD_ID }}"
        data-languages="{{ settings.AMO_LANGUAGES|json }}"
        data-media="{{ MEDIA_URL }}"
        {% if geoip_region %}data-region="{{ geoip_region.slug }}"{% endif %}
        data-settings="{{ site_settings|json }}"
        data-waffle-switches="{{ waffle_switches|json }}">

    {% if not robots -%}
      <noscript>
        <p>Sorry, you need JavaScript to access the Marketplace.</p>
      </noscript>
    {% endif -%}

    <div class="app-container"></div>
    <script type="text/javascript" src="{{ media(repo + '/js/bundle.js') }}"
            defer></script>
  </body>
</html>
