<!DOCTYPE html>
<html{% if appcache %} manifest="{{ url('commonplace.appcache')|urlparams(repo=repo) }}"{% endif %} lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Firefox Marketplace</title>
    {% include "commonplace/includes/open_graph.html" %}
    <meta name="theme-color" content="#fff">
    <link rel="icon" href="{{ media('fireplace/img/logos/128.png') }}" sizes="128x128">
    <link rel="icon" href="{{ media('fireplace/img/logos/64.png') }}" sizes="64x64">
    <link rel="icon" href="{{ media('fireplace/img/logos/32.png') }}" sizes="32x32">

    {% if include_splash -%}
      <link rel="stylesheet" href="{{ media(repo + '/css/splash.css') }}">
    {% endif -%}
    <link rel="stylesheet" href="{{ media(repo + '/css/include.css') }}">

    {% if repo == 'fireplace' %}
      <link rel="manifest" href="/manifests/standard.json">
    {% endif %}

    <link title="Firefox Apps"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('opensearch') }}">
    <meta name="fragment" content="!">

    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//stats.g.doubleclick.net">

    {{ newrelic_header()|safe if repo == 'fireplace' }}
  </head>
  <body class="home{{ ' overlayed' if repo == 'fireplace' }}" data-languages="{{ settings.AMO_LANGUAGES|json }}" data-settings="{{ site_settings|json }}" data-build-id-js="{{ BUILD_ID }}" data-media="{{ MEDIA_URL }}" data-repo="{{ repo }}" data-waffle-switches="{{ waffle_switches|json }}"{% if geoip_region %} data-region="{{ geoip_region.slug }}"{% endif %}>

    {% if not robots -%}
      <noscript><p>Sorry, you need JavaScript to access the Marketplace.</p></noscript>
    {% endif -%}
    <div id="splash-overlay">
      <div class="throbber"><b></b><b></b><b></b></div>
    </div>

    <header id="site-header" class="header site-header"></header>

    <div class="cloak"></div>
    <main>
      <nav id="site-nav" class="site-nav" role="navigation"></nav>
      <div id="page" class="page" role="main"></div>
    </main>

    <footer id="site-footer"></footer>

    <!-- screenshot lightbox -->
    <div id="lightbox">
      <section>
        <ul class="content"></ul>
        <a class="close" href="#">&times;</a>
      </section>
    </div>

    {% if repo == 'transonic' or repo == 'marketplace-operator-dashboard' %}
      {# Aviary. #}
      <script src="https://dme0ih8comzn4.cloudfront.net/js/feather.js"></script>
    {% endif %}

    <script type="text/javascript" src="{{ media(repo + '/js/include.js') }}" defer></script>
    {{ newrelic_footer()|safe if repo == 'fireplace' }}
  </body>
</html>
