<!DOCTYPE html>
<html><body>
<script type="text/javascript">
(function() {
    function setupUATracking(id, initial_url, clientID, sect, sect_index) {
        window.GoogleAnalyticsObject = 'ga';
        window.ga = window.ga || function() {
            (window.ga.q = window.ga.q || []).push(arguments);
        };
        window.ga.l = 1 * new Date();

        var ua = document.createElement('script');
        ua.type = 'text/javascript';
        ua.async = true;
        ua.src = 'https://www.google-analytics.com/analytics.js';
        document.body.appendChild(ua);

        window.ga('create', id, {
            storage: 'none',
            clientId: clientID,
        });
        if (sect) {
            window.ga('set', 'dimension' + sect_index, sect);
        }
        window.ga('set', 'checkProtocolTask', function(){});
        window.ga('send', 'pageview', initial_url);
    }

    {# Approved origin is generated in the view and already a json array #}
    var allowed_origins = {{ allowed_origins|safe }};

    window.addEventListener('message', function(e) {
        if (allowed_origins.indexOf(e.origin) === -1) {
            window.console.error('[potatolytics] message from origin ' + e.origin + ' not allowed');
            return;
        }
        if (typeof window.ga === 'undefined') {
            setupUATracking.apply(window, e.data);
        } else {
            window.ga.apply(window.ga, e.data);
        }
        window.console.log('[potatolytics] ' + e.data);
        window.parent.postMessage(e.data, e.origin);
    }, false);

    // When everything is ready, message the parent to start receiving messages
    // from it.
    window.parent.postMessage({name: 'potatolytics-loaded'}, '*');
})();
</script>
</body></html>
