{% extends "mobile/base.html" %}

{% block title %}{{ page_title(_('User Login')) }}{% endblock %}

{% block aux_nav %}{% endblock %}

{% block js %}
  {% if form.recaptcha %}
    {% include("amo/recaptcha_js.html") %}
  {% endif %}
{% endblock %}

{% block back_link %}
  {# Hide the "Home" button on Apps Preview, since login is required. #}
  {% if not settings.APP_PREVIEW %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block page %}

<div class="primary" role="main">
  {% if form.non_field_errors() %}
      <div class="notification-box error">
        <ul>
        {% for error in form.non_field_errors() %}
          <h2>{{ error }}</h2>
        {% endfor %}
        </ul>
      </div>
  {% endif %}
  <h2>{{ _('Log In') }}</h2>
  <section id="content">
    <section id="browserid">
      <a href="#" class="browserid-login button"
              data-url="{{ url('users.browserid_login') }}">
        {{ _('Log in with BrowserID') }}
      </a>
    </section>
  </section>

  {# TODO(gkoberger): This is a temp change; fix properly #}
  {% if not settings.APP_PREVIEW %}
  <div id="login-help" class="article">
    <h2>{{ _('Login Problems?') }}</h2>
    <ul class="listview">
      {% if not settings.APP_PREVIEW %}<li><a href="{{ url('users.register') }}">{{ _("I don't have an account.") }} </a></li>{% endif %}
      <li><a href="{{ url('password_reset_form') }}">{{ _("I forgot my password.") }}</a></li>
    </ul>
  </div>
  {% endif %}

</div>{# .primary #}

{% endblock page %}
