{% from 'developers/includes/macros.html' import empty_unless, required, select_cats, some_html_tip, tip, trans_readonly %}
{% set req_if_edit = required() if editable %}
<form method="post" action="{{ url('mkt.developers.apps.section', valid_slug, 'basic', 'edit') }}"
      id="addon-edit-basic"
      data-baseurl="{{ url('mkt.developers.apps.edit', valid_slug) }}">
  <h2>
    {{ _('Basic Information') }}
    {% if not editable %}
      <a href="#" data-editurl="{{ url('mkt.developers.apps.section', valid_slug, 'basic', 'edit') }}" class="button">
        {{ _('Edit') }}</a>
    {% endif %}
  </h2>
  <div class="item island">
    <table>
      {# L10n: {0} is the addon name #}
      <caption>{{ _('Basic Information for {0}')|fe(addon.name) }}</caption>
      <tbody>
        <tr>
          <th>
            <label data-for="name">
              {{ _('Name') }}
              {{ tip(None,
                    _('The app name is one of the fields used to return search results in the Firefox Marketplace.
                       The app name also appears on the app’s detail page. Be sure you’ve included a descriptive
                       name in your app manifest. If you want to change the app name, you’ll need to do that in
                       your app manifest.')) }}
            </label>
          </th>
          <td>
            {{ addon|all_locales('name') }}
          </td>
        </tr>
        <tr id="developer-name">
          <th>
            <label data-for="developer_name">
              {{ _('Developer Name') }}
              {{ tip(None,
                     _('This field can only be edited by updating it in the '
                       'manifest.')) }}
            </label>
          </th>
          <td>
            {{ version.developer_name }}
          </td>
        </tr>
        <tr>
          <th>
            {{ tip(_('App URL'),
                   _('Select a unique URL for your detail page. '
                     'By default we use your app name to create '
                     'this URL.')) }}
            {{ req_if_edit }}
          </th>
          <td id="slug_edit">
            {% if editable %}
              <div class="edit_with_prefix c">
                <span>{{ settings.SITE_URL }}/&hellip;/</span>{{ form.slug }}
              </div>
              {{ form.slug.errors }}
            {% else %}
              {{ settings.SITE_URL }}/&hellip;/{{ addon.app_slug }}
              <a class="smaller" href="{{ addon.get_url_path() }}">{{ _('View Listing') }}</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="label">
            {{ tip(_('API URL'),
                   _('The URL for accessing this app using the Marketplace API')) }}
          </th>
          <td>
            <span>{{ settings.SITE_URL }}{{ addon.get_api_url() }}</span>
            <a class="smaller" href="https://firefox-marketplace-api.readthedocs.org" target="_blank">{{ _('View API documentation') }}</a>
          </td>
        </tr>
        <tr id="manifest-url">
          <th class="label">{{ _('Manifest URL') }}</th>
          <td>
            {% if addon.is_packaged %}
              <a href="{{ addon.get_manifest_url() }}" target="_blank">{{ addon.get_manifest_url() }}</a>
            {% else %}
              {% if editable %}
                <input type="text" name="manifest_url" value="{{ addon.manifest_url }}">
                {{ form.manifest_url.errors }}
                <a class="button" data-url="{{ url('mkt.developers.apps.refresh_manifest', valid_slug) }}">{{ _('Refresh') }}</a>
                <p class="note">
                  {% trans doc_url='https://developer.mozilla.org/en-US/Marketplace/Publishing/Updating_apps#Updating_hosted_apps' %}
                    Please try not to change your manifest URL too frequently. If you change your manifest URL, existing users
                    won't be upgraded to use the new manifest URL. For more information, read the <a href="{{ doc_url }}" target="_blank">documentation on Updating Apps</a>.
                  {% endtrans %}
                </p>
              {% else %}
                <a href="{{ addon.manifest_url }}" target="_blank">
                  {{ addon.manifest_url }}</a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% if addon.is_packaged %}
          <tr id="hosted-url">
            <th class="label">{{ _('Hosted URL') }}</th>
            <td>
              {% if editable %}
                <input type="text" name="hosted_url" value="{{ addon.hosted_url }}">
                {{ form.hosted_url.errors }}
                <p class="note">
                  {{ _('If your app has a URL where it is hosted, you can set it for users that want to try your app before installing it.') }}
                </p>
              {% else %}
                <a href="{{ addon.hosted_url }}" target="_blank">
                  {{ addon.hosted_url }}</a>
              {% endif %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>
            <label data-for="description">
              {{ _('Description') }}
              {{ tip(None,
                    _("The app description is one of the fields used to return search results in the Firefox Marketplace. The app description
                       also appears on the app's detail page. Be sure to include a description that accurately represents your app.")) }}
            </label>
            {{ req_if_edit }}
          </th>
          <td>
            {% if editable %}
              {{ form.description }}
              {{ form.description.errors }}
              {{ some_html_tip() }}
            {% else %}
              <div id="addon-description" class="prose">
                {{ addon|all_locales('description', nl2br=True, prettify_empty=True) }}
              </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>
            <label data-form="keywords">
              {{ _('Search Keywords') }}
              {{ tip(None,
                     _("The search keywords are used to return search results in the "
                       "Firefox Marketplace. Be sure to include a keywords that "
                       "accurately reflect your app.")) }}
            </label>
          </th>
          <td>
            {% if editable %}
              {{ form.tags }}
              {{ form.tags.errors }}
              <p class="note">
                {{ _('Enter as comma-separated words. {0} keywords maximum.'|f(mkt.MAX_TAGS)) }}
              </p>
            {% else %}
              <div id="addon-keywords" class="prose">
                {% call empty_unless(tags) %}
                  {{ tags|join(', ') }}
                {% endcall %}
              </div>
            {% endif %}
          </td>
        </tr>
        {% if not addon.is_packaged %}
          <tr id="releasenotes">
            <th>
              <label data-for="releasenotes">
                {{ _('Release Notes') }}
                {{ tip(None, _('Information about changes in the latest release, new features,
                                known bugs, and other useful information specific to this
                                release/version.')) }}
              </label>
            </th>
            <td>
              {% if editable %}
                {{ version_form.releasenotes.errors }}
                {{ version_form.releasenotes }}
                {{ some_html_tip() }}
              {% else %}
                <div id="addon-releasenotes" class="prose">
                  {{ version|all_locales('releasenotes', nl2br=True, prettify_empty=True) }}
                </div>
              {% endif %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>
            {{ tip(_('Categories'),
                   _("Categories are the primary way users browse through apps.
                      Choose any that fit your app's functionality for the
                      most exposure.")) }}
            {{ req_if_edit }}
          </th>
          <td id="addon-categories-edit"
              data-max-categories="{{ cat_form.max_categories() if cat_form else mkt.MAX_CATEGORIES }}">
            {% if editable %}
              {{ select_cats(mkt.MAX_CATEGORIES, cat_form) }}
            {% else %}
              {% set categories = addon.categories|categories_names %}
              {% call empty_unless(categories) %}
                {{ categories|join(', ') }}
              {% endcall %}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    {% if editable %}
    <div class="listing-footer">
      <button type="submit">{{ _('Save Changes') }}</button> {{ _('or') }}
      <a href="{{ addon.get_dev_url('section', ['basic']) }}"
         class="addon-edit-cancel">{{ _('Cancel') }}</a>
    </div>
    {% endif %}
  </div>
</form>
