<div id="my-accounts-list">
  {% if account_list_form.current_payment_account %}
  <p class="current-account">{{ account_list_form.current_payment_account }}</p>
  <p class="hint">
    {% trans %}The current payment account was associated with the app by an app owner.{% endtrans %}
  </p>
  {% endif %}

  <div id="{{ provider.name }}-accounts-list">
    {% if account_list_form.has_completed_accounts() %}
      {{ account_list_form.accounts }}
    {% else %}
      <p class="no-accounts">
        {% if account_list_form.has_accounts() %}
          {{ _("You have an incomplete payment account. Complete it or set up a new one below.") }}
        {% else %}
          {{ _("You don't have any payment accounts set up.") }}
        {% endif %}
      </p>
    {% endif %}
  </div>
</div>
