<ul>
  {% set region_choices = region_form[regions_field_name].field.choices %}
  {% for value, text in region_choices %}
    {% set region = region_form.regions_by_id[value] %}
    {% set checked = value in region_form.initial[regions_field_name] %}
    <li data-region="{{ value }}">
      <label class="region-cb{{ ' disabled' if region.disabled }}">
        <input type="checkbox" class="restricted"
          {% if region.disabled %}disabled{% elif checked %}checked{% endif %}
          name="{{ regions_field_name }}" value="{{ value }}">
        <span class="region region-{{ region.slug }}">{{ text }}</span>
      </label>
    </li>
  {% endfor %}
</ul>
