{% extends 'ecosystem/base.html' %}

{% from "ecosystem/macros.html" import video_display with context %}

{% block bodyclass %}landing developer-hub{% endblock %}

{% block devhub_categories %}{% endblock %}

{% block content %}
  <div id="landing-page">
    <h1>{{ _('Develop HTML5 Web Apps for an open marketplace.') }}</h1>
    <section class="half initial-steps">
      <div class="panel">
        <h2 class="section-design">{{ _('Design') }}</h2>
        <p>
          {%- trans %}
            Learn how to design apps that provide a user experience
            optimized for Firefox OS
          {% endtrans -%}
        </p>
        <div class="link-wrapper first">
          <a href="{{ url('ecosystem.design_concept') }}">
            {{- _('Concept: A Great App') }}</a>
          <a href="{{ url('ecosystem.design_fundamentals') }}">
            {{- _('Design Fundamentals') }}</a>
          <a href="{{ url('ecosystem.design_ui') }}">
            {{- _('UI Guidelines') }}</a>
        </div>
      </div>
      <div class="panel">
        <h2 class="section-build">{{ _('Build') }}</h2>
        <p>
          {%- trans %}
            All the tools, docs and references you'll need for
            development and testing of your app
          {% endtrans -%}
        </p>
        <div class="link-wrapper">
          <a href="{{ url('ecosystem.build_quick') }}">
            {{- _('Quick Start') }}</a>
          <a href="{{ url('ecosystem.firefox_os_simulator') }}">
            {{- _('Firefox OS Simulator') }}</a>
          <a href="{{ url('ecosystem.build_reference') }}">
            {{- _('Reference Apps') }}</a>
        </div>
      </div>
      <div class="panel">
        <h2 class="section-publish">{{ _('Publish') }}</h2>
        <p>
          {% trans %}
            Find out how to distribute your apps on an open marketplace
            that puts users and developers first
          {% endtrans %}
        </p>
        <div class="link-wrapper last">
          <a href="{{ url('ecosystem.publish_deploy') }}">
            {{- _('Deploying Your App') }}</a>
          <a href="{{ url('ecosystem.publish_hosted') }}">
            {{- _('Hosted Apps') }}</a>
          <a href="{{ url('ecosystem.publish_packaged') }}">
            {{- _('Packaged Apps') }}</a>
        </div>
      </div>
    </section>

    <section id="partnership">
      <div class="submit-app">
        <div class="app-logo">
          <a href="{{ url('submit.app') }}" class="mkt-logo">
            <img src="{{ media('img/ecosystem/submit-app-mktplace.png') }}">
          </a>
        </div>
        <div class="app-button">
          <a href="{{ url('submit.app') }}" class="button">
            {{ _('Submit your app to the Marketplace') }}
          </a>
        </div>
      </div>
    </section>

    <section id="platform" class="half">
      <div class="platform-copy">
        <h2>{{ _('The Mozilla apps platform') }}</h2>
        <p>
          {%- trans %}
            Building apps for the Web provides developers with full control
            over content, functionality and how apps are distributed,
            including access to millions of Firefox OS users
            through the Firefox Marketplace.
          {% endtrans -%}
        </p>
      </div>
      <div class="platform-copy right">
        <h2>{{ _('Firefox Marketplace') }}</h2>
        <p>
          {%- trans %}
            The Firefox Marketplace gives users the opportunity to find,
            try and buy apps and content that matters most to them. This
            means exciting, useful and high-quality Apps relevant to
            local markets across all categories that users can use to
            get the most out of their daily lives.
          {% endtrans -%}
        </p>
        <p>
          {%- trans %}
            Mozilla's global reach extends to hundreds of millions of
            Firefox users worldwide. Through intelligent Marketplace
            curation and effective use of Mozilla’s marketing channels,
            Mozilla can help developers can get their app into the hands
            of their target users around the world.
          {% endtrans -%}
        </p>
      </div>
    </section>
  </div>
{% endblock %}
