{% extends 'ecosystem/base.html' %}

{% from "ecosystem/macros.html" import video_display with context %}

{% block bodyclass %}landing developer-hub{% endblock %}

{% block devhub_categories %}{% endblock %}

{% block content %}
  <div id="landing-page">
    <h1>{{ _('App Submission is now closed.') }}</h1>
      <section class="island tabbable spacer">
        <p class="intro">
            {% trans url="https://wiki.mozilla.org/Marketplace" %}
                Thank you for your support. <a href="{{ url }}">Learn more</a>.
            {% endtrans %}
        </p>
      </section>
  </div>
{% endblock %}
