{% extends 'ecosystem/base.html' %}

{% from "ecosystem/macros.html" import video_display with context %}

{% block bodyclass %}landing developer-hub{% endblock %}

{% block devhub_categories %}{% endblock %}

{% block content %}
  <div id="landing-page">
    <h1>{{ _('Develop HTML5 Web Apps for an open marketplace.') }}</h1>
      <section class="island tabbable spacer">
        <p> {{ _('App Submission is now closed. Thank you for your support.') }} </p>
      </section>
  </div>
{% endblock %}
