{% extends "reviewers/base.html" %}

{% block breadcrumbs %}
{{ reviewers_breadcrumbs(items=[(url('reviewers.apps.review', addon.app_slug), addon.name),
                                (None, _('Abuse Reports'))]) }}
{% endblock %}

{% block content %}
<h2>{{_('Abuse Reports for {addon} ({num})')|fe(addon=addon.name, num=total|numberfmt) }}</h2>
<ul>
  {% for report in reports %}
  <li>
    {% trans date=report.created|datetime,
      ip_address=report.ip_address,
      reporter=report.reporter.email|default('An anonymous user') %}
      {{ reporter }} on {{ date }} [{{ ip_address }}]
    {% endtrans %}
    <blockquote>{{ report.message }}</blockquote>
  </li>
  {% endfor %}
</ul>
{{ reports|impala_paginator }}
{% endblock %}
