{% extends 'reviewers/base_minimal.html' %}
{% from 'reviewers/includes/macros.html' import app_flags with context %}
{% from 'site/helpers/form_row.html' import form_row %}
{% from 'reviewers/includes/additional_review_table.html' import additional_review_table with context %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(items=[(None, _('Additional Queues')),
                                  (None, queue|capitalize)]) }}
{% endblock %}

{% set page_title = _('{queue} Review Queue').format(queue=queue.capitalize()) %}

{% block title %}
  {{ page_title }} | {{ super() }}
{% endblock %}

{% block content %}
  <h1>{{ page_title }}</h1>

  <section id="queue-island" class="island search-toggle">
    {% if webapps %}
        {{ additional_review_table(approve_text=_("Pass"),
                                   reject_text=_("Fail"),
                                   can_sort_by_name=False,
                                   comments=True) }}
    {% else %}
      {{ no_results() }}
    {% endif %}

    {% if queue_counts[tab] == 0 %}
      <div class="no-results">
        {{ _('There are currently no items of this type to review.') }}
      </div>
    {% else %}
      <div class="impala-paginator">{{ pager|impala_paginator }}</div>
      <div class="mobile-paginator hidden">{{ pager|mobile_reviewers_paginator }}</div>
    {% endif %}
  </section>
{% endblock %}
