{% extends 'reviewers/base.html' %}

{% set pagetitle = _('Reviewer Scores for {0}')|fe(profile.name) %}

{% block title %}
  {{ reviewers_page_title(title=pagetitle) }}
{% endblock %}

{% block content %}

<header class="c">
  <h1>{{ pagetitle }}</h1>
</header>

<section class="island">

  {% if not total %}
    <p>{{ _('No review points awarded yet.') }}</p>
  {% else %}
    <h2>{{ _('All-time Point Breakdown') }}</h2>
    <table class="data-grid">
      <thead>
        <tr>
          <th></th>
          <th class="number">{{ _('Points') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ _('Month') }}</th>
          <td class="number">{{ performance['month']|numberfmt }}</td>
        </tr>
        <tr>
          <th>{{ _('Year') }}</th>
          <td class="number">{{ performance['year']|numberfmt }}</td>
        </tr>
        <tr>
          <th>{{ _('All-Time') }}</th>
          <td class="number">{{ performance['total']|numberfmt }}</td>
        </tr>
      </tbody>
    </table>
  {% endif %}

</section>

{% endblock %}
