{% extends 'developers/base_impala.html' %}
{% set title = _('Marketplace API') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <section id="submit-api" class="primary">
    <div class="island devhub-form">
      {% if user.read_dev_agreement and dev_agreement_ok(user) %}
        <p>
          {% trans %}
            To access the Marketplace API, create an OAuth key pair using the form below.
          {% endtrans %}
        </p>
      {% else %}
        <p>
          {% trans terms=url('mkt.developers.apps.terms')|urlparams(to=request.path) %}
            To access the Marketplace API, accept the <a href="{{ terms }}">terms of service</a> and create an OAuth key pair using the form below.
          {% endtrans %}
        </p>
      {% endif %}
      {% trans %}
        <p>
          There are two main uses for the Marketplace API. From another web site
          using a traditional OAuth flow or from a command line tool.

          The difference is discussed in the  <a href="https://firefox-marketplace-api.readthedocs.org/en/latest/topics/authentication.html#oauth">Marketplace documentation</a>. Any testing should occur on the <a href="https://marketplace-dev.allizom.org">development server</a> and not the production server.
        </p>
      {% endtrans %}
      {% if not roles %}
        <form method="POST">
          {{ csrf() }}
          <table>
            <tbody>
              <tr>
                <th><strong>{{ _('Client type') }}</strong></th><td>{{ form.oauth_leg.errors }}{{ form.oauth_leg }}</td>
              </tr>
              <tr class="api-oauth-website">
                <th><strong>{{ _('Application Name') }}</strong></th><td>{{ form.app_name.errors }}{{ form.app_name }}</td>
              </tr>
              <tr class="api-oauth-website">
                <th><strong>{{ _('Redirect URI') }}</strong></th><td>{{ form.redirect_uri.errors }}{{ form.redirect_uri }}</td>
              </tr>
            </tbody>
          </table>
          <div class="listing-footer">
            <button>{{ _('Create') }}</button>
          </div>
        </form>
      {% endif %}
    </div>
    <h3>{{ _('OAuth Keys') }}</h3>
    {% for consumer in consumers %}
      <div class="island devhub-form">
        <table>
          <tbody>
            <tr>
              <th><strong>{{ _('Key') }}</strong></th><td>{{ consumer.key }}</td>
            </tr>
            <tr>
              <th><strong>{{ _('Secret') }}</strong></th><td><textarea readonly>{{ consumer.secret }}</textarea></td>
            </tr>
            {% if consumer.app_name %}
              <tr>
                <th><strong>{{ _('Application Name') }}</strong></th><td>{{ consumer.app_name }}</td>
              </tr>
            {% endif %}
            {% if consumer.redirect_uri %}
              <tr>
                <th><strong>{{ _('Redirect URI') }}</strong></th><td>{{ consumer.redirect_uri }}</td>
              </tr>
            {% endif %}
          </tbody>
         </table>
         <div class="listing-footer">
           <form method="POST">
             {{ csrf() }}
             <input type="hidden" name="consumer" value="{{ consumer.pk }}">
             <button name="delete" class="cancel" value="delete">{{ _('Delete') }}</button>
           </form>
         </div>
      </div>
    {% else %}
      <div class="island devhub-form">
        <p><strong>{{ _('You currently do not have an API key.') }}</strong></p>
      </div>
    {% endfor %}
    {% if consumers %}
      <h3>{{ _('OAuth Example') }}</h3>
      <div class="island devhub-form">
        {% trans %}
          <p>Example using a Python library for the command-line on Mac OS X/Linux using
          your OAuth credentials:</p>
        {% endtrans %}
        <pre>
pip install curling
echo '{"{{ settings.DOMAIN }}": {"key": "{{ consumers[0].key }}", "secret": "{{ consumers[0].secret }}"}}' > ~/.curling

# This makes a GET request to retrieve your settings:
curling {{ settings.SITE_URL }}/api/v2/account/settings/mine/

# This makes a POST to validate an hosted app:
curling -d '{"manifest": "http://myapp.testmanifest.com/manifest.webapp"}' {{ settings.SITE_URL }}/api/v2/apps/validation/
        </pre>
      </div>
    {% endif %}
  </section>
{% endblock %}
