{# We're extending from the former "impala" skeleton base template,
   but we're still using legacy styles. One step at a time. #}
{% extends 'base.html' %}

{% if webapp %}
  {% set editable = "no-edit" if not check_webapp_ownership(request, webapp, dev=True) %}
{% endif %}
{% block bodyclass %}apps {{ editable }}{% endblock %}

{# Don't show the amo header on devhub pages #}
{% set hide_header = True %}

{% block bodyattrs %}
{% if webapp %}data-default-locale="{{ webapp.default_locale|lower }}"{% endif %}
{% endblock %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block site_css %}
  {{ css('mkt/devreg') }}
  <!--[if IE]><link rel="stylesheet" href="{{ media('css/legacy/ie.css') }}"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="{{ media('css/legacy/ie7.css') }}"><![endif]-->
{% endblock %}

{% block extrahead %}
  <noscript>
    <link rel="stylesheet" href="{{ media('css/legacy/nojs.css') }}">
  </noscript>
{% endblock %}

{% block js %}
  {# TODO(Kumar) move to base template? #}
  <script src="{{ url('wafflejs') }}"></script>
{% endblock %}
