{% extends 'base.html' %}

{% if webapp %}
  {% set editable = "no-edit"
     if not check_webapp_ownership(request, webapp, dev=True) and
        not action_allowed('Apps', 'Configure') %}
  {% set next_step = webapp.next_step() %}
{% endif %}
{% block bodyclass %}developer-hub apps gutter {{ editable }}{% endblock %}

{% block bodyattrs %}
{% if webapp %}data-default-locale="{{ webapp.default_locale|lower }}"{% endif %}
{% endblock %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block outer_content %}

  {# Notification box for next step of app submission. #}
  {% block submit_next_step %}
    {% if next_step %}
      <div class="notification-box">
        <p>
          {% if webapp.has_incomplete_status() %}
            {# L10n: `next_step_name` is a plural noun, the title of the page of the next step of the submission process (e.g. 'Payments' or 'Content Ratings'). #}
            {% trans next_url=next_step['url'], next_step_name=next_step['name'] %}
              You must set up <a href="{{ next_url }}">{{ next_step_name }}</a> before your app can be reviewed or published.
            {% endtrans %}
          {% else %}
            {# Pre-IARC public/pending apps. #}
            {# L10n: `next_step_name` is a plural noun, the title of the page of the next step of the submission process (e.g. 'Payments' or 'Content Ratings'). #}
            {% trans next_url=next_step['url'], next_step_name=next_step['name'] %}
              You must set up <a href="{{ next_url }}">{{ next_step_name }}</a>.
            {% endtrans %}
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endblock %}

  {{ super() }}
{% endblock %}

{% block extrahead %}
  <noscript>
    <link rel="stylesheet" href="{{ media('css/legacy/nojs.css') }}">
  </noscript>
{% endblock %}
