{% extends 'developers/base_impala.html' %}
{% set title = 'Debug: {0}'.format(app.name) %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <section class="primary">
    <div class="island">
      <p>Go to <a href="{{ app.get_dev_url() }}">developer page</a>.</p>
      <p>See <a href="{{ app.get_api_url() }}">api entry</a>.</p>
      <p>See <a href="{{ data['urls']['es'] }}">elastic search entry</a>.</p>
      {% if app.is_premium() %}
        <p>Buy <a href="/mozpay/?req={{ data['pay_request'] }}">without mozPay</a>.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
