{% extends 'developers/base_impala.html' %}
{% set title = 'Debug: {0}'.format(app.name) %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <section class="primary">
    <div class="island">
      <p><a href="{{ app.get_dev_url() }}">Developer page</a></p>
      <p><a href="{{ app.get_api_url() }}">API Entry</a></p>
      <p><a href="{{ urls['es'] }}">ElasticSearch Entry</a></p>
      {% if app.is_premium() %}
        <p><a href="/mozpay/?req={{ app_jwt }}">Buy {{ app.name }}</a></p>

        {% for inapp in inapps %}
            <p><a href="/mozpay/?req={{ inapp['jwt'] }}">Buy {{ inapp['inapp'].name }}</a></p>
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endblock %}
