<div id="site-nav">
  <div class="pad">
    <nav class="menu-nav app-nav no-img" role="navigation">
      <ul class="c">
        <li id="documentation" class="slim">
          <a href="{{ url('ecosystem.landing')|urlparams(src='nav') }}">{{ _('Documentation') }}</a>
        </li>
        <li class="slim">
          <a href="{{ url('mkt.developers.validate_app')|urlparams(src='nav') }}">{{ _('Testing Apps') }}</a>
        </li>
        <li class="slim">
          <a href="{{ url('mkt.developers.apps.api')|urlparams(src='nav') }}">{{ _('Marketplace API') }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
