.inline-editing {
    .inline-edit {
        display: none;
    }

    &.editing .inline-edit {
        display: block;
    }

    &.editing .inline-view {
        display: none;
    }

    .error {
        padding: 5px 0;

        &:empty {
            padding: 0;
        }
    }
}
