.inline-editing {
    .inline-edit {
        display: none;
    }

    &.editing {
        .inline-view {
            display: none;
        }

        .inline-edit {
            display: inline;

        }
        label {
            width: 5em;
        }
    }

    .error {
        padding: 5px 0;

        &:empty {
            padding: 0;
        }
    }
}
