<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
      {% if not settings.ENGAGE_ROBOTS %}
        <meta name="robots" content="noindex">
      {% endif %}
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ _('Firefox Marketplace') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL}}img/favicon.ico">

    {% block rss_feed %}{% endblock %}

    {% block site_css %}
      {{ css('zamboni/css') }}
      <!--[if IE]><link rel="stylesheet" href="{{ media('css/legacy/ie.css') }}"><![endif]-->
      <!--[if IE 7]><link rel="stylesheet" href="{{ media('css/legacy/ie7.css') }}"><![endif]-->
    {% endblock %}

    {% block extrahead %}{% endblock %}
    <noscript><link rel="stylesheet" href="{{ media('css/legacy/nojs.css') }}"></noscript>

    {% if request.user.is_authenticated() %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
    {{ js('preload') }}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }} moz-header-slim {% block bodyclass %}{% endblock %}"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-min-beta-version="{{ settings.MIN_BETA_VERSION }}"
        data-anonymous="{{ (not request.user.is_authenticated())|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        {% block bodyattrs %}{% endblock %}>

    <div id="tabzilla-wrapper">
      {% if ADMIN_MESSAGE or settings.READ_ONLY %}
        <div id="site-notice">
          {% if ADMIN_MESSAGE %}
            <p>{{ ADMIN_MESSAGE|safe }}</p>
          {% endif %}
          {% if settings.READ_ONLY %}
            <p>{{ _("Some features are temporarily disabled while we perform website maintenance. We'll be back to full capacity shortly.") }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="section">
        {% block site_header %}
          <div class="amo-header">
            <nav id="aux-nav" role="navigation" class="menu-nav c">
              <ul>
                {% if not settings.READ_ONLY %}
                  {% include "impala/user_login.html" %}
                {% endif %}
              </ul>
            </nav>
            <div id="masthead">
              {% block site_header_title %}
              {% include "impala/header_title.html" %}
              {{ site_nav() }}
              {% endblock %}
              {% block navbar %}{% endblock %}
              {% block site_stats %}{% endblock %}
            </div>
          </div>
        {% endblock site_header %}

        {# Overridden in base_side_categories, which expands categories
           on the side of the page. #}
        {% block main_content %}
          {# outer_content is for something you want above content on every page. #}
          {% block outer_content %}{% include "messages.html" %}{% endblock %}
          {% block content %}{% endblock %}
        {% endblock %}
      </div>
      <div id="tooltip">
        <span></span>
      </div>
      <div id="popup-staging">
        {% block popups %}
        {% endblock %}
      </div>
      {# js #}
      {% block site_js %}
        <script src="{{ static(url('jsi18n')) }}"></script>
        {{ js('common') }}
      {% endblock %}
      {% block js %}{% endblock %}
    </div>
  </body>
</html>
