{% block content %}{% endblock %}

{% if nonuser_mozilla_contact %}
You may reply by creating a Firefox Account under your email and posting to {{ url('commonplace.commbadge.show_thread', note.thread.id)|absolutify }}

If you wish to stop receiving email notifications for this thread, ask a reviewer
to remove you from being a Mozilla contact for this {{ obj_type }}.
{% else %}
You may reply to this email or post to {{ url('commonplace.commbadge.show_thread', note.thread.id)|absolutify }}

If you wish to stop receiving email notifications for this thread, you can click 'Unsubscribe' at {{ url('commonplace.commbadge.show_thread', note.thread.id)|absolutify }}
{% endif %}

--
{% block footer %}
{{ note.author.name if note.author }}
Firefox Marketplace Reviewer
{{ settings.SITE_URL }}
{% endblock %}
