html,
body {
  height: 100%;
}

body {
  background: #fff !important;
}

a {
  color: #447bc4;
}

.section {
  margin: 0 auto;
  width: 960px;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

#masthead {
  padding-top: 45px;
}
#masthead h1 a {
  color: orange;
}
#masthead h1 {
  font: 600 40px/40px Chalkboard;
  text-transform: uppercase;
}

#aux-nav {
  float: right;
}
.html-rtl #aux-nav {
  float: left;
}

#site-notice {
  background: #ffe;
  border-bottom: 2px solid #ccc;
  font-size: 110%;
  width: 80%;
  padding: 5px 10% 0;
  margin: 0;
  text-align: center;
}

/* tags.css */
.tagLevel1 {font-size: 1.2em;}
.tagLevel2 {font-size: 1.4em;}
.tagLevel3 {font-size: 1.6em;}
.tagLevel4 {font-size: 1.8em;}
.tagLevel5 {font-size: 2em;}
.tagLevel6 {font-size: 2.2em;}
.tagLevel7 {font-size: 2.4em;}
.tagLevel8 {font-size: 2.6em;}
.tagLevel9 {font-size: 2.8em;}
.tagLevel10 {font-size: 3em;}

.secondary #tag-box div {
  font-size: 60%;
}
.primary #tag-box div {
  text-align: center;
}
#tag-box div {
  line-height: 3.07em;
  padding: 0;
  text-align: left;
}
.html-rtl #tag-box div {
  text-align: right;
}

#tag-box .tag {
  vertical-align: baseline;
}
.html-ltr #tag-box .tag {
  margin-right: 8px;
}
.html-rtl #tag-box .tag {
  margin-left: 8px;
}

#tag-box p.more {
  border-top: 1px dotted #94BFCE;
  display: block;
  padding-top: .3em;
  text-align: right;
}
.html-rtl #tag-box p.more {
  text-align: left;
}

/** site navigation */
.menu-nav {
  font-size: 12px;
  margin-left: 64px;
  z-index: 50;
}
.menu-nav.no-img {
  margin-left: 0;
}
.menu-nav li.slim:hover:after {
  display: none;
}
.menu-nav li.slim:hover > a {
}
.menu-nav > ul > li {
  float: left;
  position: relative;
}
.menu-nav > ul > li > a {
  position: relative;
  font-weight: bold;
  z-index: 60;
  border-style: solid;
  border-color: transparent;
  border-width: 1px 1px 0;
}
.menu-nav > ul > li:hover > a {
  background: #fff;
  border-color: #98b2c9 #98b2c9 #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.menu-nav > ul > li:hover > ul,
.menu-nav > ul > li:hover > div {
  display: block;
}
.menu-nav > ul > li:hover:after {
  content: "";
  width: 200px;
  z-index: 62;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 18px;
  left: 1px;
}
.menu-nav > ul > li > ul,
.menu-nav > ul > li > div {
  display: none;
  position: absolute;
  z-index: 59;
}
.menu-nav > ul > li > ul {
  width: 190px;
  top: 17px;
  z-index: 59;
  padding: 8px;
  background: #fff;
  border: 1px solid #98b2c9;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 -2px 0 rgba(152, 178, 201, 0.3) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 -2px 0 rgba(152, 178, 201, 0.3) inset;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 -2px 0 rgba(152, 178, 201, 0.3) inset;
}
.menu-nav > ul > li > ul a {
  text-decoration: none;
  display: block;
  padding: 6px 8px;
  word-wrap: break-word;
}
.menu-nav > ul > li > ul a:hover {
  background: #ebf4fe;
}
.menu-nav > ul > li > ul.two-col {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-gap: 8px;
  -moz-column-gap: 8px;
  -webkit-column-gap: 8px;
  width: 340px;
}
.menu-nav > ul em a:hover {
  background: #e1edfb;
}
.menu-nav hr {
  border: 0;
  margin: 6px 8px;
  border-top: 1px dotted #ccc;
}
.menu-nav em {
  background: #F4F8FC;
  display: block;
  font-weight: bold;
}
.html-rtl .menu-nav {
  margin-left: 0;
  margin-right: 64px;
}
.html-rtl .menu-nav > ul > li {
  border-left: 0 !important;
  border-right: 1px solid #9FA7AF;
  float: right;
  left: auto;
  right: -9px;
}
.html-rtl .menu-nav > ul > li:hover:after {
  left: auto;
  right: 1px;
}

#aux-nav > ul > li:not(:first-child):before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 32px;
  background: -moz-linear-gradient(#9fa7af, transparent);
  background-size: 1px 100%;
}
#aux-nav > ul > li {
  margin-left: 1px;
}
#aux-nav > ul > li > a {
  display: block;
  line-height: 32px;
  height: 32px;
  padding: 0 1em;
}
#aux-nav > ul > li > a:after {
  display: inline-block;
  vertical-align: middle;
  top: 12px;
  left: 4px;
  margin: 0 0 0 4px;
  content: "\00a0";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-style: solid;
  border-top-color: #666;
}
#aux-nav > ul > li:hover {
  z-index: 63;
}
#aux-nav > ul > li:hover:after {
  left: auto;
  right: 1px;
}
#aux-nav > ul > li:after {
  top: 32px;
}
#aux-nav > ul > li > ul {
  top: 31px;
  right: 0;
}
#aux-nav > ul > li.nomenu a {
  display: inline-block;
}
#aux-nav > ul > li.nomenu a:after {
  display: none;
}
#aux-nav > ul > li.nomenu:hover a {
  background: transparent;
  box-shadow: 0 0 inset;
  -moz-box-shadow: 0 0 inset;
  -webkit-box-shadow: 0 0 inset;
  border-color: transparent;
}
#aux-nav > ul > li.nomenu:hover:after {
  display: none;
}
#aux-nav > ul > li.logout:before,
#aux-nav > ul > li.login:before {
  background: 0;
}
#aux-nav > ul > li.logout a,
#aux-nav > ul > li.login a {
  font-weight: normal;
}
#aux-nav > ul > li.logout.legacy a,
#aux-nav > ul > li.login.legacy a {
  padding-left: .5em;
}
#aux-nav > ul > li.logout.legacy a:first-child,
#aux-nav > ul > li.login.legacy a:first-child {
  padding-right: .5em;
}
.html-rtl #aux-nav > ul > li:hover:after {
  left: 1px;
  right: auto;
}
.html-rtl #aux-nav > ul > li.legacy a {
  padding: 0 .5em 0 1em;
}
.html-rtl #aux-nav > ul > li.legacy a:first-child {
  padding: 0 1em 0 .5em;
}
.html-rtl #aux-nav > ul > li > a:after {
  margin: 0 4px 0 0;
  right: 4px;
  left: auto;
}
.html-rtl #aux-nav > ul > li > ul {
  left: 0;
  right: auto;
}

/* Styling for zamboni's admin. */


/* Cycle table row backgrounds. */
table tr {
  background: #ecf7fb;
}

table tr:nth-child(odd) {
  background: #d9eff6;
}

#masthead h1 a {
  text-decoration: none;
}

.amo-header {
  min-height: 50px;
}

.header-search {
  display: none;
}

#header #title a {
  color: #d64203;
}

#title {
  margin: 1.5em 0 .9em;
}

/* Django does weird things to align forms and the transbox looks off.  This
 * makes it look ok.
.trans {
  float: left;
}
*/

/* Override the Django body.login background. */
html body.login {
  background: inherit;
}

/* Remove fieldset styling on the admin. */
fieldset {
  padding: 0;
}

.footerlogo {
  display: none;
}

#admin-validation form label,
#admin-validation form span {
  display: block;
  float: left;
}
#admin-validation form label {
  padding: 0 1em;
  width: 10em;
}
#admin-validation form #label-application {
  width: 5em;
}
#admin-validation form #elem-application {
  width: 8em;
}
#admin-validation form #label-target_version {
  width: 7em;
}
#admin-validation form #elem-finish_email,
#admin-validation form #elem-finish_email input {
  width: 13em;
}
#admin-validation form span {
  width: 14em;
}
#admin-validation form .form-row {
  clear: both;
  height: 2.5em;
}
#admin-validation .errorlist li {
  list-style: disc;
  margin-left: 2em;
}
#admin-validation .errorlist li li {
  list-style: none;
  margin-left: 1em;
}
#admin-validation .errorlist ul {
  margin-bottom: 1em;
}
#admin-validation .errorlist ul ul {
  margin: 0;
}
.validation-intro {
  padding: 0.5em;
}
.validation-intro p, .validation-intro ul {
  margin-bottom: 0;
}
.validation-intro ul li {
  list-style: disc;
  margin-left: 2em;
}
div.popup input[type="text"] {
  width: 588px;
}

.job-status {
  color: #777777;
  font-size: 11px;
  margin-top: 4px;
}

.job-status-bar {
  background-color: #F2F2F2;
  border-radius: 3px;
  height: 13px;
  border: 1px solid #3D6DB5;
}

.job-status-bar div {
  background-color: #8BC5FA;
  border-radius: 3px;
  width: 0%;
  height: 13px;
}

#admin-fetch-langpacks {
  text-align: center;
  margin-bottom: 1.5em;
}

a.headerlink {
  color: #ccc;
  font-size: 1.1em;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  text-decoration: none;
  border: none;
  visibility: hidden;
  font-style: none;
}
a.headerlink:hover {
  color: #c60f0f;
  border: none;
}
:-moz-any(h1,h2,h3,h4,h5,h6):hover a.headerlink {
  visibility: visible;
}


#content {
  display: table;
}

#content.colM, #content.flex {
  display: block;
}

section {
  display: table-cell;
}

section dl {
  -moz-column-count: 3;
}

aside {
  padding-left: 3em;
  display: table-cell;
}

fieldset.module {
  border: 0;
}

.form-row {
  margin: 12px 0;
}

/* Fix yes/no images for Firefox or fix the django image path (hah!). */
#changelist-form #result_list td img[alt=False]:after,
#changelist-form #result_list td img[alt=True]:after {
  background: #fff url(../../img/admin/icon-no.gif) no-repeat center center;
  content: "";
  position: absolute;
  float: right;
  width: 31px;
  height: 18px;
  margin-left: -26px;
}
#changelist-form #result_list .row1 td img[alt=False]:after,
#changelist-form #result_list .row1 td img[alt=True]:after {
  background-color: #D9EFF6;
}
#changelist-form #result_list td img[alt=True]:after {
  background-image: url(../../img/admin/icon-yes.gif);
  width: 35px;
}
#changelist-form #result_list td img[alt=True],
#changelist-form #result_list td img[alt=False] {
  background: url(../../img/admin/icon-no.gif) no-repeat center center;
  /* Webkit hack...if the icon width is less than the broken image icon. */
  width: 15px;
  height: 18px;
}
#changelist-form #result_list td img[alt=True] {
  background: url(../../img/admin/icon-yes.gif) no-repeat center center;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#navbar {
  margin-top: 1.5em !important;
}

#navbar a {
  font-size: 14px;
}

#navbar a:hover {
  background: goldenrod;
}

#navbar {
  background: salmon;
  font-family: Chalkboard, sans-serif;
  display: block;
  border: 1px solid #021437;
  margin: 1.5em 0 1.5em 0;
  color: white;
  font-size: 1.231em;
  white-space: nowrap;
  overflow: hidden;
}
#navbar ul.top {
  overflow: visible;
}
#navbar li.top {
  float: left;
  border-right: 1px solid #455c87;
  list-style: none;
}
#navbar li.top a.controller {
  display: block;
  padding: .5em 1.3em;
  margin: 0;
}
#navbar li.top a.controller {
  border-right: 1px solid #1e2e4c;
}
#navbar li.top:hover,
#navbar li.top.selected {
  background-color: #305083;
}
#navbar li.top ul {
  display: none;
  position: absolute;
  z-index: 1001;
  top: auto;
  margin-left: -1px;
}
#navbar li.top:hover ul {
  display: block;
}
#navbar li ul li {
  background-repeat: repeat-x;
  background-position: bottom left;
  background-color: #305083;
  border-bottom: 1px solid #5a7297;
}
#navbar li ul li a {
  display: block;
  padding: .5em 1.3em;
  border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
  border: none;
}
