{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import upload_webapp_features with context %}

{% set doc_url = 'https://developer.mozilla.org/en-US/Marketplace/Publishing/Submit/Overview' %}

{% set title = _('Submit an App') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <header class="submit-header c">
    <h1>{{ _('Submit an App') }}</h1>
  </header>


  <section class="island tabbable spacer">
    <p> {{ _('App Submission is now closed. Thank you for your support.') }} </p>
  </section>

  <p class="learn-mdn active"><a href="https://docs.google.com/a/mozilla.com/forms/d/1dN3uooCQwZrBa6Fv5SG2R3oX295Heyb51mpb9irbc_M/viewform" target="_blank">
    {% trans %}Submit a website for TVs.{% endtrans -%}
  </a></p>

{% endblock %}
