{% extends 'users/emails/base.html' -%}
{% block content %}
<p>{% trans %}Firefox Marketplace has switched to Firefox Accounts to offer a more integrated experience across all Mozilla services and products. Having a Firefox Account lets you access your existing Marketplace apps and seamlessly enjoy your apps on multiple devices, with more services coming soon.{% endtrans %}</p>

<p>{% trans %}Activating your account is easy. Simply sign-in and verify your account.{% endtrans %}</p>
{% endblock %}
